.movie-head {
  background-color: darkkhaki;
  color: #fff;
  padding: 20px;
  text-align: left;
}

#movie-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.movie {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie p {
  margin: 0;
}

.btn-options {
  background-color: darkkhaki;
  color: #fff;
  padding: 20px;
  text-align: center;
}


#switch-view {
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 500px;
}

#switch-view:hover {
  background-color: #45a049;
}

#sort-by-ascending-rating {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}

#sort-by-ascending-rating:hover {
  background-color: #555;
}

#sort-by-ascending-name {
  background-color: #ffcc00;
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 40px;
}

#sort-by-ascending-name:hover {
  background-color: #ffc300;
}

#sort-by-ascending-year {
  background-color: #0040ff;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 40px;
}

#sort-by-ascending-year:hover {
  background-color: #0040ff;
}

#sort-by-ascending-added-date {
  background-color: #ff66cc;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 40px;
}

#sort-by-ascending-added-date:hover {
  background-color: #ff4db8;
}

.descButtons,
.ascButtons {
  display: inline-block;
  margin-bottom: 20px;
}

.ascButtons {
  margin-bottom: 40px;
}

.descButtons {
  margin-top: 0px;
}

#sort-by-descending-rating {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

#sort-by-descending-rating:hover {
  background-color: #555;
}

#sort-by-descending-name {
  background-color: #ffcc00;
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 28px;
}

#sort-by-descending-name:hover {
  background-color: #ffc300;
}

#sort-by-descending-year {
  background-color: #0040ff;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

#sort-by-descending-year:hover {
  background-color: #0040ff;
}

#sort-by-descending-added-date {
  background-color: #ff66cc;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  margin-left: 30px;
  border: none;
  cursor: pointer;

}

#sort-by-descending-added-date:hover {
  background-color: #ff4db8;
}


#movie-table {
  border-collapse: collapse;
  width: 100%;
}

#movie-table th,
#movie-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#movie-table th {
  background-color: #f2f2f2;
  text-align: left;
}

#movie-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#movie-table tr:hover {
  background-color: #ddd;
}